#content{
    width:100%;
    height:90px;
    border:1px solid black;
}
#a{
    position: absolute;
    left:50px;
}
#b{
    position: absolute;
    left:200px
}
#c{
    position: absolute;
    left:375px
}
#e{
    position: absolute;
    left:400px
}
#f{
    position: absolute;
    left:500px
}
#g{
    
        position: absolute;
        left:600px
    
}
#d{
    position: absolute;
    left:700px
}
#i{
    position: absolute;
    left:800px
}